<div class="container">
  <div class="col-md-10">
    <div class="admin-brand" style="text-align: center">
      Student Panel
    </div>

    <div>
    </div>
  </div>
  <div class="col-md-offset-1 col-md-1">
    <button type="button" class="btn-l">Logout</button>
  </div>
</div>
