<nav class="navbar no-margin navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand nopadding" routerLink="">
        <img class="image-brand" src="../assets/acacia.png" alt=""/>
      </a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ><a class="btn-log">Logout</a></li>
        <li ><a class="btn-log" routerLink="login" >Ingresar</a></li>
      </ul>
    </div>

  </div>
  <!-- /.container-fluid -->
</nav>
