/* Navbar style*/
.navbar {
  background-color: transparent;
  background:  rgba(204,217,206,0.8);
  border-color: transparent;
  font-family: 'Raleway',sans-serif;
  font-weight: bold;
}

.navbar li {
  color: #fff
}

.btn-log {
  color: #000 !important;

}

.btn-log:hover {
  background-color: #9099A2 !important;
  color: #fff !important;
}
