<div class="container">
  <div class="row">
    <div class="col-md-1"><button type="button" class="btn-l">Back</button></div>
    <div class="conf-form col-md-offset-4 col-md-3">
      <div class="admin-brand" style="text-align: center">
        Teacher Panel
        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
      </div>
      <h4 style="text-align: center">Create Session</h4>
      <input class="form-control input-sm" list="Type" name="list" placeholder="Select Student">
      <datalist id="Type">
          <option value="1">
          <option value="2">
          <option value="3">
          <option value="4">
          </datalist><br />
      <input type="date" class="form-control input-sm" name="fecha"><br />
      <input class="form-control input-sm" id="inputsm" type="text"><br />
      <ul id="navigation">
        <li><a href="#" class="form-control">Affect Values</a></li>
        <li><a href="#" class="form-control">Behaviour Values</a></li>
        <li><a href="#" class="form-control">Emotion Values</a></li>
      </ul>
      <button type="button" class="form-control btn-l">Submit</button>
    </div>    
  </div>
</div>
