<div class="container">
  <div class="row">
    <div class="col-md-1"><button type="button" class="btn-l">Back</button></div>
    <div class="conf-form col-md-10 nopadding">
      <div class="admin-brand" style="text-align: center">
        Teacher Panel
        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
      </div>
      <div class="col-md-3 nopadding">
        <div class="panel panel-default">
          <div class="panel-heading" style="text-align: center">Search Session</div>
          <div class="panel-body">
            <div class="form-group">
              <select multiple class="form-control" id="observations_list">
                <option>Session 1</option>
                <option>Session 2</option>
                <option>Session 3</option>
                <option>Session 4</option>
                <option>Session 5</option>
              </select>
            </div>
          </div>
        </div>
        <button type="button" class="btn-l">Submit</button>
      </div>
      <div class="col-md-9 formpadd">
        <div class="panel panel-default">
          <div class="panel-heading" style="text-align: center">Result</div>
        </div>
        <div class="panel-body nopadding">
          <div class="col-md-4">

            <div class="panel-heading">
              <h3 class="panel-title">Session Info</h3>
            </div>
            <div class="panel-body nopadding">
              <input class="form-control input-sm" id="inputsm" type="text" placeholder="Date&Time"><br />
              <input class="form-control input-sm" id="inputsm" type="text" placeholder="Durations"><br />
              <input class="form-control input-sm" id="inputsm" type="text" placeholder="Observation"><br />
            </div>
          </div>
          <div class="col-md-4">
              <div class="panel-heading">
                <h3 class="panel-title">Students</h3>
              </div>
              <div class="panel-body nopadding" id="student_result">
                <textarea readonly>
                    </textarea>
              </div>
          </div>
          <div class="col-md-4">
            <div class="panel-heading">
              <h3 class="panel-title">Observations</h3>
            </div>
            <div class="panel-body nopadding" id="observation_result">
              <textarea readonly>
                  </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
