<div class="container">
  <div class="row">
    <div class="col-md-1"><button type="button" class="btn-l" [routerLink]="['../']">Back</button></div>
    <div class="col-md-offset-2 col-md-5 form-card">
      <div class="panel panel-primary nopadding conf-form" >
        <div class="panel-heading panel-size-font" style="text-align: center">
          Admin Panel
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </div>
        <div class="panel-body">
          <h4 style="text-align: center">Create User</h4>
          <form #form="ngForm" (ngSubmit)="submitForm(form.value)">
            <div class="form-group">
              <label for="kindUser">User Type</label>
              <select class="form-control" name="kind_User" id="kindUser" placeholder="Select User Type" required>
                <option value="admin">Admin</option>
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
                <option value="annalist">Annalist</option>
              </select>
            </div>
            <div class="form-group">
              <label for="name">Nombre</label>
              <input class="form-control input-sm" id="name" type="text" placeholder="Name" ngModel required>
            </div>
            <div class="form-group">
              <label for="name">Age</label>
              <input class="form-control input-sm" id="age" type="number" placeholder="Age" ngModel required>
            </div>
            <div class="form-group">
              <label for="education_Degree">Education Degree</label>
              <input class="form-control input-sm" id="education_Degree" type="text" placeholder="Education Degree" ngModel required>
            </div>
            <div class="form-group">
              <label for="area_of_Degree">Area of Degree</label>
              <input class="form-control input-sm" id="area_of_Degree" type="text" placeholder="Area of Degree" ngModel required>
            </div>
            <div class="form-group">
              <label for="gender">Gender</label>
              <select class="form-control input-sm" name="list" id="gender" placeholder="Gender" ngModel required>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
              </select>
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
