<div class="container">
  <div class="col-md-offset-5 col-md-3">
    <div class="admin-brand" style="text-align: center">
      Annalist Panel
    </div>
    <ul id="navigation">
      <li class="nav-link"><a [routerLink]="['./featuresSearchVisualization']">Features Search Visualization</a></li>
      <li class="nav-link"><a [routerLink]="['./classifiersSearchVisualization']">Classifiers Search Visualization</a></li>
    </ul>
    <div>
    </div>
  </div>
  <div class="col-md-offset-3 col-md-1">
    <button type="button" class="btn-l">Logout</button>
  </div>
</div>
