.bdbackground {
  background-image: url("../../assets/body.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.form-signin {
  font-family: 'Raleway', sans-serif;
  max-width: 330px;
  padding-top: 140px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  font-size: 4vw;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.5);
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color : rgba(241, 246, 243, 0.4);
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color : rgba(241, 246, 243, 0.4);
}

.btn-primary {
    background: #809F8C;
    color: #ffffff;
    border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #5F7A69;
}

.btn-primary:active, .btn-primary.active {
    background: #5F7A69;
    box-shadow: none;
}
