<div class="bdbackground">
  <div class="col-md-offset-2 col-md-8">
    <form class="form-signin" (submit)="loginUser($event)">
      <h2 class="form-signin-heading">Login</h2>
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
      <br />
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div>
</div>
