<div class="container">
  <div class="row">
    <div class="col-md-1"><button type="button" class="btn-l">Back</button></div>
    <div class="conf-form col-md-offset-4 col-md-3">
      <div class="admin-brand" style="text-align: center">
        Admin Panel
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </div>
      <h4 style="text-align: center">Configurations</h4>
      <input class="form-control input-sm" id="inputsm" type="text"><br />
      <input class="form-control input-sm" id="inputsm" type="text"><br>
      <input class="form-control input-sm" id="inputsm" type="text"><br />
      <input class="form-control input-sm" type="date" name="fecha">
      <div>
      </div>
    </div>
  </div>
</div>
