<div class="container">
  <div class="row">
    <div class="col-md-1"><button type="button" class="btn-l">Back</button></div>
    <div class="col-md-offset-4 col-md-3">
      <div class="admin-brand" style="text-align: center">
        Teacher Panel
        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
      </div>
      <h3>Advanced Option</h3>
      <ul id="navigation">
        <li><a [routerLink]="['./advancedOptions']">Disable Alerts</a></li>
        <li><a [routerLink]="['./createObservation']">Create Observation</a></li>
        <li><a [routerLink]="['./searchUser']">Search Users</a></li>
        <li><a [routerLink]="['./searchSession']">Search Sessions</a></li>
        <li><a [routerLink]="['./searchObservation']">Search Observation</a></li>
      </ul>
      <div class="col-md-offset-3 col-md-1">
        <button type="button" class="btn-l">Logout</button>
      </div>
    </div>
  </div>
