<div class="container">
  <div class="row">
    <div class="col-md-1"><button type="button" class="btn-l">Back</button></div>
    <div class="conf-form col-md-offset-3 col-md-5">
      <div class="admin-brand" style="text-align: center">
        Admin Panel
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </div>
      <div class="col-md-12 nopadding">
        <h4 style="text-align: center">Create Session</h4>
        <input class="form-control input-sm" list="Type" name="list" placeholder="Session Type">
        <datalist id="Type">
            <option value="1">
            <option value="2">
            <option value="3">
            <option value="4">
            </datalist><br />
      </div>
      <div class="row">
        <div class="col-md-6">
          <input type="date" class="form-control input-sm" name="fecha"><br />
          <input class="form-control input-sm" id="inputsm" type="text"><br />
          <input class="form-control input-sm" id="inputsm" type="text"><br />
          <input class="form-control input-sm" id="inputsm" type="text"><br>
        </div>
        <div class="col-md-6">
          <h3>Students</h3>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Student_001</td>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="student_01" value="option1" aria-label="...">
  </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Student_002</td>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="student_02" value="option2" aria-label="...">
  </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Student_003</td>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="student_03" value="option3" aria-label="...">
  </label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button type="button" class="btn-l">Submit</button>
    </div>    
  </div>
</div>
