<div class="container">
  <div class="col-md-offset-2 col-md-8">
    <div class="row">
      <h2 class="title-board">Admin Panel<small><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></small>
        <hr />
  </h2>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-head">
              <a [routerLink]="['./configurations']">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
            </div>
            <div class="card-body " id="color1">
              <h4>Configurations</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-head">
              <a [routerLink]="['./createUser']">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </a>
            </div>
            <div class="card-body " id="color1">
              <h4>Create User</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-head">
              <a [routerLink]="['./createSession']">
                <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                </a>
            </div>
            <div class="card-body " id="color1">
              <h4>Create Session</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-head">
              <a [routerLink]="['./createObservation']">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
            </div>
            <div class="card-body " id="color2">
              <h4>Create Observation</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-head">
              <a [routerLink]="['./searchUser']">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
            </div>
            <div class="card-body " id="color2">
              <h4>Search Users</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-head">
              <a [routerLink]="['./searchSession']">
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                </a>
            </div>
            <div class="card-body " id="color2">
              <h4>Search Sessions</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-head">
              <a [routerLink]="['./searchObservation']">
                <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                </a>
            </div>
            <div class="card-body " id="color2">
              <h4>Search Observations</h4>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
