<div class="container">
  <div class="col-md-offset-5 col-md-3">
    <div class="admin-brand" style="text-align: center">
      Teacher Panel
      <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
    </div>
    <ul id="navigation">
      <li class="nav-link"><a >Start Sesion</a></li>
      <li class="nav-link"><a >End Sesion</a></li>
      <li class="nav-link"><a [routerLink]="['./advancedOptions']">Advanced Option</a></li>
    </ul>
    <textarea rows="4" cols="30">
</textarea>
  </div>
  <div class="col-md-offset-3 col-md-1">
    <button type="button" class="btn-l">Logout</button>
  </div>
</div>
