<div class="container">
  <div class="row">
    <div class="col-md-1"><button type="button" class="btn-l">Back</button></div>
    <div class="col-md-offset-1 col-md-8">
      <div class="admin-brand" style="text-align: center">
        Teacher Panel
        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h3>Search User</h3>
          <input class="form-control input-sm" list="Type" name="list" placeholder="Type User">
          <datalist id="Type">
                  <option value="1">
                  <option value="2">
                  <option value="3">
                  <option value="4">
                  </datalist><br />
          <input class="form-control input-sm" id="inputsm" type="text"><br /> or
          <input class="form-control input-sm" id="inputsm" type="text"><br />
          <button type="button" class="btn-l">Submit</button>
        </div>
        <div class="col-md-9">
          <div class="row">
            <h3>Result</h3>
            <div class="col-md-4">
              <h3>User Info</h3><br>
              <input class="form-control input-sm" id="inputsm" type="text" placeholder="Name"><br />
              <input class="form-control input-sm" id="inputsm" type="text" placeholder="User Id"><br />
              <input class="form-control input-sm" id="inputsm" type="text" placeholder="Age"><br />
              <input class="form-control input-sm" id="inputsm" type="text" placeholder="Gender"><br />
            </div>
            <div class="col-md-4">
              <h3>Sessions</h3>
              <textarea rows="10" cols="20" class="textar">
                    </textarea>
            </div>
            <div class="col-md-4">
              <h3>Observations</h3>
              <textarea rows="10" cols="20" class="textar">
                    </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-1">
      <button type="button" class="btn-l">Logout</button>
    </div>
  </div>
</div>
