/* You can add global styles to this file, and also import other style files */


/* Body Style*/

:focus {
  outline: none;
}

h4 {
  border: 0 solid #fff;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  text-align: center;
}

.container {
  padding-top: 60px;
  padding-right: 0px;
  padding-left: 0px;
}

.image-brand {
  height: 45px;
  width: 95px;
}

.title-board {
  font-family: 'Raleway', sans-serif;
  color: #004d40;
  font-size: 4vw;
}

.title-board span{
  color: #00796b;
  font-size: 3vw;
}
.card-body {
  color: #fff;
  padding-top: 4px;
}

.card-head {
  font-size: 6vw;
  text-align: center;
}

.card-head a {
  color: #03A678;
}

.card-head a:hover {
  color: #00B16A;
}

#color1 {
  background: #03A678;
}

#color2 {
  background: #00B16A;
}

#color3 {
  background: #3FC380;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
}

.btn-l {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
  margin: 0px auto;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-l:hover {
  background-color: #58ACFA;
}

.conf-form {
  font-family: 'Raleway', sans-serif;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.formpadd {
  padding-left: 5px;
  padding-right: 0 !important;
}

textarea {
  overflow-y: scroll;
  height: 155px;
  width: 165px;
  resize: none;
  /* Remove this if you want the user to resize the textarea */
  margin-left: auto;
  margin-right: auto;
}

.form-card {
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.panel-heading{
  background: #03A678; 
}
.panel-size-font {
  font-size: 20px;
}
