<div class="bdbackground">
  <div class="col-md-offset-2 col-md-8">
    <div class="row">
      <p class="content" id="font1">
        ACACIA
      </p>
    </div>
    <div class="row">
      <p class="content" id="font2">
      Centro de Apoyo y Desarrollo Educativo y Profesional.
      <br />(CADEP)
      </p>
    </div>
    <div>
      <br />
    </div>
  </div>
</div>
