.bdbackground {
  background-image: url("../../assets/body.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.content {
  color: #fff !important;
}

#font1 {
  padding-top: 200px;
  text-align: center;
  font-size: 12vw;
  font-family: 'Righteous', cursive;
  text-shadow: 0px 5px 5px rgba(255, 255, 255, 0.4);
}

#font2 {
  text-align: center;
  font-size: 2vw;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.8);
}
